/*This first set of rules target all 
  elements of that type 

*/
body{
	width: 80%;
	margin: 0 auto;
	background-color: black;
	color: white;
	font-family: Verdana, sans-serif;
}

h1{
	color: yellow;
	font-size: 5em;
}

h3{
	color: yellow;
	font-size: 2em;
}

figure{
	width: 100%;
}

figcaption{
	padding-top:  2em;
	padding-left: 14em;
	padding-bottom: 2em;
}

footer{
	padding-bottom: 2%;
}

hr { 
  display: block; 
  margin-top: 2.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  border-color: white;
} 

form{
	padding-top: 2em;
}

input {
  width: 100%;
  padding: .8em 1em;
  margin: .75em 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea{
	width: 100%;
	padding: .8em 1em;
	margin: .75em 0;
	border: 1px solid #ccc;
	border-radius: 4px;
	font-family: Verdana, sans-serif;
	font-size: .75em;
	box-sizing: border-box;
}

button[type=submit]{
	width: 100%;
  background-color: gray;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/*This set of rules target classes, 
  some of which are used once, some
  more than once*/

.secondary-content{
	width: 20%;
	float: right;
	padding: 1%;
	border: white solid 1px;
	margin-top: 2%;
}

.sub-content{
  padding-top: 3em;
  padding-bottom: 3em;	
}

.main-image{
	width: 100%;
	margin-left: -4%;
}

.main-video{
	width: 100%;
	
}

/*The following set of rules directly
  target elements by ID*/

 #middle-image{
	width: 32.5%;
	margin-left: 3.9%;
	border: solid white;
}

 #right-image{	
	width: 32.5%;
	float: right;
	border: solid white;
}

#left-image{
	width: 30%;
	float: left;
	margin-left: -4%;
}

#banner{
	margin: 0 auto;
}

#maincontent{
	width: 75%;
	float: left;
	padding-top: 0.75%;
}

#navigation{
	width: 100%;
	float: left;
}

/*The final section of rules use various
  combinations of elements, classes and IDs
  to specify their target */

ul#menu{
	margin: 0;
	padding: 0;
}

ul#menu li{
	display: inline;
	line-height: 2em;
}

ul#menu a, a:visited, a:active{
	padding: .3em 2em .3em 2em;
	border: solid white 1px;
	border-radius: 4px;
	text-decoration: none;
	color: inherit;
}

#menu li.current a{
	border: white solid 1px;
	padding: .3em 2em .3em 2em;
	color: white;
	background-color: gray;
}

footer#main{
	clear: both;
	margin-left: 35%;
}

footer a, a:visited, a:active{
	line-height: 2em;
	padding: .5em 2em .5em 2em;
	border: solid 1px;
	border-radius: 4px;
	text-decoration: none;
}

footer a:hover{
	background-size: .5em 2em .5em 2em;
	background-color: gray;
}

footer.secondary#original{
	clear: both;
	margin-left: 7%;
}

footer.secondary#prequel{
	margin-left: 3.5%;
}

footer.secondary a, a:visited, a:active{
	line-height: 2em;
	padding: .5em 2em .5em 2em;
	border: solid white 1px;
	text-decoration: none;
	color: inherit;
}

footer.secondary a:hover{
	background-size: .5em 2em .5em 2em;
	background-color: gray;
}

footer.secondary#original a.middle-link{
	margin-left: 14.5%;
}

footer.secondary#original a.right-link{
	margin-left: 13%;
}

footer.secondary#prequel a.middle-link{
	margin-left: 12%;
}

footer.secondary#prequel a.right-link{
	margin-left: 14%;
}
